---
import Layout from '../layouts/Layout.astro';
---

<Layout title="网站介绍">
  <section class="prose prose-invert">
    <h1>网站介绍</h1>
    <p>本网站每日聚合 AI 编程相关新闻与论文，并提供论坛与问答功能。</p>
  </section>
</Layout>
